
Django==5.0.4
gunicorn==21.2.0
dj-database-url
psycopg2-binary==2.9.10
python-decouple==3.8
python-dotenv==1.2.1
asgiref==3.9.2
sqlparse==0.5.3


djangorestframework==3.15.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
drf-yasg==1.21.12
PyJWT==2.10.1
django-filter==23.5
django-extensions==4.1
drf-spectacular==0.28.0
drf-nested-routers


celery==5.5.3
django-celery-beat==2.8.1
django-celery-results==2.6.0
redis==6.4.0
django-redis==6.0.0
kombu==5.5.4
amqp==5.3.1


Pillow==11.3.0
opencv-python-headless==4.12.0.88
reportlab==4.4.9
PyMuPDF==1.26.7
pytesseract==0.3.13
beautifulsoup4==4.14.2
requests==2.32.5
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.9
PyYAML==6.0.3
phonenumbers==9.0.12


channels==4.3.1
channels_redis==4.3.0
websockets==15.0.1


fedapay==0.3.0

